.App {
    margin-top: 2.5rem;
}

.Hero {
    background: linear-gradient(to bottom, #d1e469, #f7b21e);
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem 2.2rem;
    border-radius: 0.8rem;
    box-shadow: var(--shadow-dark);
    z-index: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header {
    color: var(--color-grey-light-1);
    text-shadow: 2px 2px 3px var(--color-grey-dark-1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 6rem;
    line-height: 0.6;
    /* margin-left: 2.5rem; */
    padding: 1.5rem 2.5rem;
    display: flex;
}

.Header span {
    /* color: var(--color-grey-dark-1); */
    font-size: 4rem;
    font-weight: 700;
    padding: 0.2rem 0;
    padding-bottom: 0;
    border-bottom: 4px solid var(--color-grey-dark-1);
}

.Content {
    width: 75%;
    margin: 0 auto;
    background: var(--color-grey-light-1);
}
