.Favorites {
    width: 100%;
    color: var(--color-grey-dark-2);

    display: flex;
    flex-direction: column;
}

.Favorites button {
    align-self: center;
}

.Header {
    background: #6598c7;
    color: var(--color-grey-light-1);
    text-shadow: 1px 1px 2px var(--color-grey-dark-2);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    padding: 0.8rem 2.2rem;

    display: flex;
    align-items: center;
}

.Header img {
    height: 3rem;
    margin-right: 1.5rem;
}

.Content {
    display: flex;
    flex-direction: column;
}

.Content > button {
    /* font-size: 2.5rem; */
    padding: 0.5rem 2.8rem;
}

.List {
    padding: 1rem 2.5rem;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .Favorites:not(.List) button {
        padding: 1rem 1.5rem;
        margin: 0.8rem;
        align-self: stretch;
    }

    .Header {
        height: 7.2rem;
        font-size: 2rem;
        padding: 0.8rem 1.2rem;

        justify-content: center;
    }

    .Header img {
        flex: 0 0;
        flex-basis: 4rem;
        height: 4rem;
        margin: 0;
    }

    .Header p {
        flex: 0 1;
        flex-basis: 70%;
        text-align: center;
    }

    .Content {
        height: calc(100%-7.2rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .List {
        height: 100%;
        padding: 0.8rem 1.4rem;
        list-style: none;
    }
}
