@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

:root {
    --color-grey-light-1: #eee;
    --color-grey-light-2: #ccc;
    --color-grey-light-3: #aaa;

    --color-grey-dark-1: #777;
    --color-grey-dark-2: #555;
    --color-grey-dark-3: #333;

    --button-primary-light: #3aa9dd;
    --button-primary-dark: #298fbe;

    --button-success-light: #24db33;
    --button-success-dark: #22b32e;

    --button-danger-light: #ec675d;
    --button-danger-dark: #cf3c32;

    --shadow-light: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
    --shadow-dark: 0 3px 7px 2px rgba(0, 0, 0, 0.35);

    --favorite-color-active: rgb(247, 83, 110);
    --favorite-color-disabled: rgb(87, 87, 87);
    --icons-color-hover: rgb(240, 150, 100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body::before {
    background: linear-gradient(to right, #59b2d8 50%, #50f7bf 50%);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    transform: rotate(45deg) scale(4);
    z-index: -1;
}

body {
    position: absolute;
    width: 100%;
    /* overflow: hidden auto; */
    min-height: 100vh;
    color: var(--color-grey-light-1);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.simplebar-wrapper {
    max-height: 50rem;
}

@media screen and (max-width: 600px) {
    .simplebar-wrapper {
        height: auto;
        max-height: 100%;
    }
}
