.JokeList {
    color: var(--color-grey-dark-1);
}

.Action {
    position: absolute;
    right: 2rem;
}

.List {
    margin-top: 0;
    list-style: none;
}

.FooterAction {
    background: linear-gradient(
        to top,
        var(--color-grey-light-1) 90%,
        var(--color-grey-light-2)
    );
    padding: 0.8rem 1.5rem;

    display: flex;
    justify-content: space-between;
}
