.JokeList {
    color: var(--color-grey-dark-1);
}

.List {
    margin-top: 0;
    list-style: none;
}

.Content {
    display: flex;
    flex-direction: column;
}

.Action {
    background: linear-gradient(
        to top,
        var(--color-grey-light-1) 90%,
        var(--color-grey-light-2)
    );
    padding: 0.8rem 1.5rem;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .List {
        height: 100%;
    }

    .Action button {
        flex: 0 1 45%;
    }
}
