.JokeItem {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-grey-light-2);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Controls {
    display: flex;
    align-items: center;
}

.Controls .Icons {
    cursor: pointer;
    padding: 0 1rem;
    transform: scale(1.5) translateY(3px);
}

.Controls .Icons:hover {
    color: orange;
}

.JokeText {
    flex: 1;
    font-size: 1.6rem;
    font-style: italic;
}

.Emoji {
    justify-self: flex-end;
}
